<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
	<style type="text/css">
		html {
			
			height: 100%;
			margin: 0;
			padding: 0;
			overflow-y: scroll;
		}
		body {
			min-height: 100%;
			color: black;
/*			background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);*/
				}

		.titlle {
			text-align: center;
			color: #ffffff;
		}
	</style>
</head>
<html>
	<body>
	<h1 class="title">Page is not available</h1>
	</body>
</html>