<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
/*	#t-wrapper {
		overflow-x: auto;
	}*/
		html {
			margin: 0;
			padding: 0;
		}
		body {
			position: absolute;
  			margin:0;
  			padding:0;
  			width:100%;
  			height:100%;
  			top:0; 
			bottom:0; 
			right:0; 
			left:0;
			background: black;
/*			background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);*/
				}
/*		html {
			height: 100%;
		}
		body {
			position:absolute; 
			top:0; 
			bottom:0; 
			right:0; 
			left:0;
			background-color:blue;
		}*/
/*		table {
			margin-top: 0px;

		}*/
		h2.subtitle {
			text-align: center;
		}
	</style>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
	<title></title>
</head>
	<body>
<!-- 		<nav class="navbar is-black" role="navigation" aria-label="main navigation">
  			<div class="navbar-brand">
  				<a href=""></a>
    		</div>
    		<div class="navbar-item">
    			<a class="navbar-item" href="#">dse</a>
    		</div>
</nav> -->
			<div id="t-wrapper">
			<table class="table is-fullwidth is-striped">
				<thead>
					<tr>
		      		  <th>Symbol</th>
		      		  <th>LTP</th>
		      		  <th>Change</th>
		      		  <th>%Change</th>
		    		</tr>
				</thead>
				<tbody>
					<% for (var i=0; i < data.length; i++) { %>
					<tr>
						<td class="symbol" id="symbol"><%= data[i][0] %></td>
						<td class="ltp" id="ltp"><%= data[i][1] %></td>
						<td class="c_price"><%= data[i][2] %></td>
						<td class="c_percent"><%= data[i][3] %></td>
					</tr>
					<% } %>
				</tbody>
			</table>
		</div>
		 <script type="text/javascript">
			let color_change = function() {
			let c_price = document.getElementsByClassName('c_price');
			if (c_price[0] == undefined) {
				let h2 = document.createElement('h2');
				document.body.appendChild(h2)
				h2.className = 'subtitle';
				h2.innerHTML = "Currently data is not available";
				h2.style.color = 'white';
			}
			for (var i = 0; i < c_price.length; i++) {
				if (c_price[i].innerHTML[0] == '-') {
					c_price[i].style.color = 'red';
					} else {
						c_price[i].style.color = 'green';
						}
					console.log(c_price[i].innerHTML);	
					}

			let c_percent = document.getElementsByClassName('c_percent');
			for (var i = 0; i < c_percent.length; i++) {
				if (c_percent[i].innerHTML[0] == '-') {
					c_percent[i].style.color = 'red';
					} else {
						c_percent[i].style.color = 'green';
						}
					}
				}
			window.onload = function() {
				color_change();
				setInterval(color_change, 30000);
				}
			let refresh = function() {	

			let url = 'http://dsex.herokuapp.com/data'//remember to change when using loacalhost
			fetch(url || 'http://loacalhost:3000/data')
				  .then(function(response) {
				    return response.json();
				  })
				 .then(function(myJson) {
				 for (var i = 0; i < myJson.length; i++) {
				 		// console.log(myJson[i]);
				 		let ltp = document.getElementsByClassName('ltp');
				 		let c_price = document.getElementsByClassName('c_price');
				 		let c_percent = document.getElementsByClassName('c_percent');

				 		for (var i = 0; i < ltp.length; i++) {
							ltp[i].innerHTML = myJson[i][1];	
							}
						for (var i = 0; i < c_price.length; i++) {
							c_price[i].innerHTML = myJson[i][2];	
							}
						for (var i = 0; i < c_percent.length; i++) {
							c_percent[i].innerHTML = myJson[i][2];	
							}
						 }

				  });}
			setInterval(refresh, 30000);		 					 		
		</script>
	</body>
</html>